:root {
  --base: #ffc600;
  --spacing: 10px;
  --blur: 10px;
}

footer {
  width: 50px;
  height: 50px;
  margin-top: 20px;
  margin-left: var(--palatte-padding-left);
  background-color: var(--footer-color);
  border-radius: 15px;
}
body {
  text-align: center;
}

img {
  padding: var(--spacing);
  background: var(--base);
  -webkit-filter: blur(var(--blur));
  
  filter: blur(var(--blur));
}

.hl {
  color: var(--base);
}

/*
        misc styles, nothing to do with CSS variables
      */

body {
  background: #193549;
  color: white;
  font-family: 'helvetica neue', sans-serif;
  font-weight: 100;
  font-size: 50px;
}

.controls {
  margin-bottom: 50px;
}

a {
  color: var(--base);
  text-decoration: none;
}

input {
  width:100px;
}